:root { 
--deep_orange_A100:#f1b16f; 
--light_blue_300:#59cdf2; 
--light_blue_700:#0378ce; 
--green_A200:#5ae6c2; 
--light_blue_701:#0379ce; 
--black_904:#000000; 
--white_A700_cc:#ffffffcc; 
--black_903:#090f0a; 
--white_A700_99:#ffffff99; 
--black_900_00:#09100a00; 
--black_905:#090909; 
--black_900:#00091f; 
--black_902:#09100a; 
--black_901:#020b20; 
--lime_800_07:#a0ac2107; 
--deep_orange_300:#ff7f62; 
--black_900_49:#00000049; 
--lime_800:#a0ac22; 
--lime_801:#9fac21; 
--black_900_4f:#0000004f; 
--gray_300:#e0e0e0; 
--gray_900_3f:#1514383f; 
--black_900_ab:#020c21ab; 
--bluegray_600:#495f76; 
--black_900_33:#00000033; 
--black_900_72:#00000072; 
--bluegray_500:#6e7686; 
--gray_900_b2:#151438b2; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}